<nav class="navbar navbar--expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <ul class="nav .nav-pills">
                <li class="nav-item">
                    <a class="nav-link" routerLink="Home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="data" routerLinkActive="active">StudentData</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="form" routerLinkActive="active">StudentRegistration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="app" routerLinkActive="active">AppOverview</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>